// Menu button

.menu-btn {
  @include easeOut;
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;

  .btn-line {
    @include easeOut;
    width: 28px;
    height: 3px;
    margin-bottom: 5px;
    background: set-text-color( $primary-color );
  }

  // Rotate into X with menu lines.
  &.close {
    transform: rotate( 180deg );

    .btn-line {
      // Line 1 - rotate.
      &:nth-child( 1 ){
        transform: rotate( 45deg ) translate( 5px, 5px );
      }
      // Line 2 - hide.
      &:nth-child( 2 ){
        opacity: 0;
      }
      // Line 3 - rotate.
      &:nth-child( 3 ){
        transform: rotate( -45deg ) translate( 7px, -6px );
      }
    }
  }
}

// Menu overlay
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  // Adds -branding class to menu affecting .menu-branding.
  &-branding, &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &-nav {
    @include easeOut;
    margin: 0;
    padding: 0;
    background: darken( $primary-color, 5 );
    list-style: none;
    transform: translate3d( 0, -100%, 0 );

    &.show {
      // SLide in from the top.
      transform: translate3d( 0, 0, 0 );
    }
  }

  &-branding {
    @include easeOut;
    background: $primary-color;
    transform: translate3d( 0, 100%, 0 );
    &.show {
      // SLide in from the bottom.
      transform: translate3d( 0, 0, 0 );
    }

    .portrait {
      width: 250px;
      height: 250px;
      background: url( "../img/portrait.jpeg" );
      background-size: cover;
      border-radius: 50%;
      border: solid 3px $secondary-color;
    }
  }

  .nav-item {
    @include easeOut;
    transform: translate3d( 600px, 0, 0 );

    &.show {
      // SLide in from the right.
      transform: translate3d( 0, 0, 0 );
    }

    &.current > a {
      color: $secondary-color;
    }
  }

  .nav-link {
    @include easeOut;
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: set-text-color( $primary-color );
    text-decoration: none;

    &:hover {
      color: $secondary-color;
    }
  }
}

// Delay each nav item slide by 0.1s
@for $x from 1 through 4 {
  .nav-item:nth-child( #{ $x }){
    transition-delay: $x * 0.1s;
  }
}