// Widescreens.
@include xl {
  .projects {
    grid-template-columns: repeat( 4, 1fr );
  }
}

// Desktops & Laptops.
@include lg {
  .projects {
    grid-template-columns: repeat( 3, 1fr );
  }
}

// Tablets & small Laptops.
@include md {
  main {
    align-items: center;
    text-align: center;
    padding: 8px !important;

    h1, h2, h3 {
      &.heading-large {
        font-size: 4rem;
        line-height: 1.3;
      }

      &.heading-small {
        margin-top: 1rem;
        margin-bottom: 2rem;
        font-size: 1.4rem;
      }
    }

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav, div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d( 0, 0, 0 );
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d( -100%, 0, 0 );
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d( 100%, 0, 0 );

    .portrait {
      background: url( "../img/portrait.jpeg" );
      background-size: cover;
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    grid-template-areas:
    "bioimage"
    "bio"
    "job1"
    "job2"
    "job3";
    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat( 2, 1fr );
  }
}

// Smartphones.
@include sm {
  main#home h1 {
    margin-top: 10vh;
  }

  .projects {
    grid-template-columns: repeat( 1, 1fr );
  }
}