@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background();
  background-color: $primary-color;
  color: set-text-color( $primary-color );
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1, h2, h3 {
  margin: 0;
  font-weight: 400;

  // Refers to class of current element (h1, h2, h3).
  &.heading-large {
    font-size: 6rem;
  }

  &.heading-small {
    display: inline-block;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    // Takes used color and lightens it.
    background: rgba( lighten( $primary-color, 2 ), 0.5 );
  }
}

header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

main {
  padding: 4rem;
  // height: 100%;
  min-height: calc( 100vh - 60px );

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut;
      }
    }
  }
}

a {
  color: #fff;
  text-decoration: none;
}

.text-secondary {
  color: $secondary-color;
}

// About page.
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
  "bioimage bio bio"
  "job1 job2 job3";
  grid-template-columns: repeat( 3, 1fr );

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job {
    background: lighten( $primary-color, 5 );
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
    border-radius: 7px 7px 3% 3%;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }
}

// Work page.
.projects {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat( 3, 1fr );

  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      @include easeOut;
      opacity: 0.5;
      border-color: $secondary-color;
    }
  }
}

// Contact page.
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    @include easeOut;
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color( $secondary-color );

      span {
        color: set-text-color( $secondary-color );
      }
    }
  }
}

// Button styles.
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: set-text-color( $secondary-color );
  }
}

.btn-dark {
  @extend .btn;
  background: darken( $primary-color, 50 );
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten( $primary-color, 50 );
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken( $primary-color, 10 );
  color: set-text-color( $primary-color );
  height: 60px;
}


.chip {
  display: inline-flex;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 400;
  align-items: center;
  height: 32px;
  border-radius: 16px;
  background: $secondary-color;

  &.chip-badge {
    border-radius: 4px !important;
  }
}





@import "mobile";